
.ArrowButton {
  border-style: solid;
  box-shadow:none;
  background-color: #eeeeee;
  border:none;
  margin-left: 1px;
  margin-right: 1px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;

  color: #aaaaaa;

  font-size: 90%;
}

.TextButton {
  border-style: solid;
  box-shadow:none;
  background-color: #eeeeee;
  border:none;
  margin-left: 1px;
  margin-right: 1px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 90%;
}

.SelectedTextButton {
  border-style: solid;
  box-shadow:none;
  background-color: #cc3333;
  border:none;
  color: #ffffff;
  margin-left: 1px;
  margin-right: 1px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 90%;
}
