.EventMonthCalendar {
  padding-left: 8px;
  display: table;

  width: 100%;
}

.DaysOfWeek {
  width: 100%;
  display: table-row;

  padding: 0;

}

.DaysOfWeekItem {
  display: table-cell;

  font-size: 65%;
}
